.weatherPage {
  flex: 1;

  &Wrapper {
    display: flex;
    flex-direction: column;
  }

  &TextInfo {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-primary);
    font-weight: bold;
  }
}
