.weatherPage {
  height: 100%;

  &Wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &TextInfo {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-primary);
    font-weight: bold;
  }
}
