@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('../assets/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DM sans';
  src: url('../assets/fonts/DMSans-VariableFont_opsz,wght.woff2') format('woff2');
  font-weight: 300 700;
  font-style: normal;
}

@font-face {
  font-family: 'DM sans';
  src: url('../assets/fonts/DMSans-Italic-VariableFont_opsz,wght.woff2') format('woff2');
  font-weight: 300 700;
  font-style: italic;
}
