@import './reset.css';
@import '@shared/styles/fonts.css';
@import '@shared/styles/variables.css';

html,
body {
  height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  background-color: var(--bg-main);

  scrollbar-color: grey transparent;
  scrollbar-width: thin;
}

#root {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 1100px) {
  #root {
    min-height: 100dvh;
    overflow: auto;
  }
}

@media (max-width: 767px) {
  html,
  body {
    font-size: 16px;
  }
}
